<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css" />

<div id="drinkMenu" class="sectionSpacers">
  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/images/CoffeCup.ico">
    </div>

    <div id="featurette-text" class="col-md-7">
      <h1 class="featurette-heading">Drinks for Warmth or Chill</h1>
      <div id="foodMenu-text">
        <div class="col-md-4">
          <h3> Hot</h3>
          <p> Item1  2.09</p>
          <p> Item2  3.00</p>
        </div>

        <div class="col-md-4" id="wraps">
          <h3> Cold</h3>
          <p> Item1  2.09</p>
          <p> Item2  3.00</p>
        </div>

        <div class="col-md-4" id="desserts">
          <h3> Healthy</h3>
          <p> Item1  2.09</p>
          <p> Item2  3.00</p>
        </div>

      </div>
    </div>
  </div>
</div>
