<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css" />
<div id="foodMenu" class="sectionSpacers">
<div class="row featurette">
  <div id="featurette-text" class="col-md-7">
    <h1 class="featurette-heading">Food You'll Love</h1>
    <div id="foodMenu-text">
      <div class="col-md-4">
        <h3> Sandwiches</h3>
        <p> Item1  2.09</p>
        <p> Item2  3.00</p>
      </div>

      <div class="col-md-4" id="wraps">
        <h3> Wraps</h3>
        <p> Item1  2.09</p>
        <p> Item2  3.00</p>
      </div>

      <div class="col-md-4" id="desserts">
        <h3> Desserts</h3>
        <p> Item1  2.09</p>
        <p> Item2  3.00</p>
      </div>

    </div>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="/images/Sandwich.png">
  </div>
</div>
</div>
