@font-face {
  font-family: 'Chalk';
  src: url('/fonts/Chalk.ttf');
}

.row.featurette {
  padding-top: 5px;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#foodMenu-text {
  margin-right: 200px;
}

#featurette-text {
  padding-left: 120px;
}

#featurette-text h1 {
  font-family: cursive;
  font-weight: bold;
  font-size: 50px;
}

#foodMenu-text {
  background-color: #F5F5F5 !important;
  font-family: Tahoma, Geneva, sans-serif;;
  padding-left: 20px;
}

#foodMenu-text p {
  color: black !important;
}

.col-md-4 {
  background-color: #F5F5F5 !important;
}

#wraps {
    padding-left: 35px;
}

#desserts {
  padding-left: 40px;
}
