@font-face {
  font-family: 'Chalk';
  src: url('/fonts/Chalk.ttf');
}

.row.featurette {
  padding-top: 5px;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#featurette-text {
  background-color: black;
  font-family: Chalk;
}
