#main-navbar {
  position: fixed;
  margin-bottom: 0px;
  height: 60px;
  min-height: 60px;
  width: 100%;
  z-index: 2;
}

nav {
    height: 60px;
    margin-bottom: 0px;
}

.navbar.navbar-light.navbar-static-top .navbar-brand:hover,
.navbar.navbar-light.navbar-static-top .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.navbar.navbar-light.navbar-static-top a:hover,
.navbar.navbar-light.navbar-static-top a:focus {
  background-color: transparent;
  color: #999999;
  text-decoration: none;
}

.navbar-light .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu .divider {
    background-color: #6f4e37;
    color: white;
}

.navbar-header {
  height: 60px;
}

.navbar-brand {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  height: 60px !important;
  width: 300px !important;

}

.logo {
  max-width: 100%;
  max-height: 100%;
  display: inline-block !important;
}

.navbar-brand-text {
  color: white;
  bottom: 0px;
  font-size: 30px !important;
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
}

.navbar-brand-text a {
  text-decoration: none;
}

.nav.navbar-nav li a:hover{
  color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 20px !important;
    padding-top: 10px;
}

.nav.navbar-nav.navbar-right li button {
    color: white;
    font-size: 20px !important;
    padding-top: 7px;
    background: none !important;
    border: none;
}

.nav.navbar-nav.navbar-right li button {
    color: white;
    font-size: 20px !important;
    padding-top: 7px;
    background: none !important;
    border: none;
    outline: none !important;
}

.nav.navbar-nav.navbar-right li button:hover {
  color: black;
}

.nav.navbar-nav.navbar-right {
  padding-right: 25px;
  padding-top: 10px !important;
}

.divider-vertical {
height: 40px;
margin: 0 9px;
top: 0px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid #FFF;
}
